{
  "extends": [
    "@strv/javascript/environments/nodejs/optional",
    "@strv/javascript/environments/nodejs/v7",
    "@strv/javascript/coding-styles/recommended",
    "@strv/javascript/environments/react/v15",
    "@strv/javascript/environments/react/optional",
    "@strv/javascript/coding-styles/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/parser": "babel-eslint"
  },
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 0,
    "max-len": 0,
    "template-tag-spacing": 0,
    "react/jsx-closing-tag-location": 0,
    "id-length": 0,
    "import/no-anonymous-default-export": 0,
    "react/prefer-stateless-function": 0,
    "require-await": 0,
    "no-shadow": 0
  },
  "globals": {
    "STORYBOOK": true
  },
  "plugins": ["import"]
}
